@import '~bootstrap/scss/bootstrap';

.my-img-index {
    width: 120px;
}

.my-img-thumb {
    width: 100%;
}

.my-img-wrapper {
    position: relative;
    width: 250px;

    .my-img-delete {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.btn {
    background-color: #FFC109;
    border: #ce9c06;
    color: black;

    &:hover {
        background: orange;
        color: black;

    }
}

nav {
    background-color: #FFC109;
}